  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497644083578-611b798c60f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
    <div class="banner_container d-flex align-items-center justify-content-center flex-column">
      <h1>Welcome to Raphael's little bar</h1>
      <p>Come and taste my creations, or add yours...</p>
    </div>
  </div>

<div class="container mt-3">
  <div class= "mt-3">
    <h2 class='text-center mb-5 mt-5'> Discover our <span class="p-3" style="background-color: black; color: white; font-weight: bold">  cocktails </span></h2>
    <div class='cards'>
      <div class='row justify-content-center'>
        <% @cocktails.each do |cocktail| %>
        <div class="mb-3 col-6 col-md-4">
          <div class="card">
          <% if cocktail.photo.attached? %>
            <img class="card-img-top" src="<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>">
          <% else %>
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/75/Missing.png">
          <% end %>
            <div class="card-body">
              <h4 class="card-title font-weight-bold"><%= cocktail.name.capitalize %></h4>
              <ul>
                <%cocktail.ingredients.each do |ingredient|%>
                  <li class="card-text"><%=ingredient.name%></li>
                <% end %>
              </ul>
              <p class="card-text"><h6><%= link_to "More details", cocktail_path(cocktail.id) %></h6></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

